<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Listar Clientes</title>

</head>
<body>
	<div class="container my-2" align="center">
		<h1>Clientes</h1>
		<a th:href="@{/}">Home</a>
		<hr>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>#</th>
					<th th:text="Nome"></th>
					<th th:text="Cpf"></th>
					<th th:text="Telefone"></th>
					<th th:text="Sexo"></th>
					<th th:text="DatadeNascimento"></th>
					<th th:text="Ações"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td th:text="${cliente.telefone}"></td>
					<td th:text="${cliente.sexo}"></td>		
					<td th:text="${cliente.dataDeNascimento}"></td>
					<td>
						<a class="btn btn-info btn-sm"
							th:href="@{/clientes/editar/{id} (id=${cliente.id}) }" role="button"> 
							<span class="oi oi-brush" th:title="#{link.editar.label}" aria-hidden="true">Editar</span>
						</a>
						<a class="btn btn-info btn-sm"
							th:href="@{/clientes/excluir/{id} (id=${cliente.id}) }" role="button"> 
							<span class="oi oi-brush" th:title="#{link.excluir.label}" aria-hidden="true">Excluir</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>