<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Gestão de Bicicletas</title>

</head>
<body>
	<div class="container my-2">
		<h2>Gestão de Bicicletas</h2>
		<form action="#" th:action="${bicicleta.id == null} ? @{/bicicletas/salvar} : @{/bicicletas/editar}" th:object="${bicicleta}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<span th:if="${#fields.hasErrors('locadora.id')}" th:errors="*{locadora.id}" class="text-danger"></span>
			<input type="text" th:field="*{locadora.id}" placeholder="Id Locadora" class="form-control mb-4 col-4" required="required">
			
			<span th:if="${#fields.hasErrors('dataLocacao')}" th:errors="*{dataLocacao}" class="text-danger">CAMPO OBRIGATÓRIO</span>
			<input type="datetime-local" th:field="*{dataLocacao}" placeholder="dataLocacao" class="form-control mb-4 col-4" required="required" pattern="yyyy-MM-dd'T'HH:mm">
			
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/locadoras/listarBicicleta}">Retornar para a lista de bicicletas</a>
	</div>
</body>
</html>