
<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>JEG Bicicletas</title>
</head>
<body>
	<div sec:authorize="!isAuthenticated()">
	    <a th:href="@{/login}">Fazer Login</a> <br/>
    	<a th:href="@{/locadoras/listar}">Listar Locadoras</a>
	</div>
	<div sec:authorize="hasAuthority('LOCADORA')">
		<ul>
            <li>
            	<a th:href="@{/bicicletas/cadastrar}">Adicione Nova Bicicleta</a>
            	<a th:href="@{/locadoras/listarBicicleta}">Lista de Bicicletas da Locadora</a>
            	<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Sign Out"/>
        		</form>
            </li>
        </ul>
	</div>

	<div sec:authorize="hasAuthority('ADMIN')">
		<ul>
            <li>
            	<a th:href="@{/usuarios/listar}">Listar Usuarios</a> <br/>
            	<a th:href="@{/locadoras/listar}">Listar Locadoras</a> <br/>
            	<a th:href="@{/clientes/listar}">Listar Clientes</a> <br/>
            	<a th:href="@{/clientes/cadastrar}">Cadastrar Cliente</a> <br/>
            	<a th:href="@{/locadoras/cadastrar}">Cadastrar Locadora</a> <br/> <br/> <br/>
            	<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Sign Out"/>
        		</form>
            </li>
        </ul>
	</div>

	<div sec:authorize="hasAuthority('CLIENTE')">
		<ul>
            <li>
            	<a th:href="@{/bicicletas/listar}">Listar Bicicletas</a>
            	<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Sign Out"/>
        		</form>
            </li>
        </ul>
	</div>
</body>
</html>