@import url("https://fonts.googleapis.com/css?family=Chilanka&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
#erro {
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(231, 233, 235);
}


body {
    background-color: lightgoldenrodyellow;
}

#borda{
	background-color:wheat;
    height: 100%;
    width: 100%;
	position: relative;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: bold;
    text-align: center;
}

h2{
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
}
p{
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

tr{
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

td{
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

th{
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
}
